# Python Cache
__pycache__/
*.pyc

# IDE Settings
.vscode/

# Sensitive configuration environment variables
.env

# Service account credentials (Google Sheets API secrets - DO NOT SHARE)
*.json
!config.json
